/* Container styles */
.techstack-container {
    padding-bottom: 50px;
  }
  
  /* General styles for the icons */
  .tech-icons {
    font-size: 4.5em !important;
    margin: 15px !important;
    padding: 10px !important;
    opacity: 0.93 !important;
    border: 1.7px solid rgba(200, 137, 230, 0.637) !important;
    vertical-align: middle !important;
    text-align: center !important;
    border-radius: 5px !important;
    display: table !important;
    box-shadow: 4px 5px 4px 3px rgba(89, 4, 168, 0.137) !important;
    overflow: hidden !important;
    transition: all 0.4s ease 0s !important;
  }
  
  .tech-icons p {
    font-size: 25px;
    margin-top: 8px;
  }
  
  @media (max-width: 767px) {
    /* For small screens, show 3 icons per row */
    .tech-icons {
      font-size: 3em !important;
      margin: 10px !important;
    }
  
    .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .col-4 {
      width: 30% !important;
    }
  
    .col-md-2 {
      width: 30% !important;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1024px) {
    /* For medium devices (tablets), show 4 icons per row */
    .tech-icons {
      font-size: 3.8em !important;
    }
  
    .col-4 {
      width: 22% !important;
    }
  
    .col-md-2 {
      width: 22% !important;
    }
  }
  
  @media (min-width: 1025px) {
    /* For larger devices (laptops), show 5 icons per row */
    .col-md-2 {
      width: 18% !important;
    }
  
    .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  
  .tech-icons:hover {
    transform: scale(1.05) !important;
    overflow: hidden !important;
    border: 2.2px solid rgba(197, 115, 230, 0.883) !important;
  }
  